/vendor/
composer.phar
composer.lock
config.json
data/asset/*
**/cache/*
**/secret/key
**/secret/tgtoken
**/secret/tick
**/secret/asset
**/secret/bossmail.json
**/secret/mail.json
trace
request
php-errors.log
